body {
    padding: 0px;
    margin: 0px;;
}

header {
    margin: 0px;
    padding: 24px 100px;
    background-color: #5a5a5a;
    color: #c9c9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 18px;
}

.front {
    background-color: #5a5a5a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
}

.info {
    background-color: #c9c9c9;
    padding: 24px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.boxes {
    display: flex;
    gap: 24px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 3px solid #5a5a5a;
    border-radius: 16px;
    width: 100px;
    height: 100px;
}